extends layout

block content
  .container.mt-5
    h2.text-center.mb-4 Goal Status

    each goal in goals
      .card.mb-3.shadow-sm
        .card-body
          h5.card-title Goal: #{goal.goalType}
          p.card-text
            | Target: #{goal.target || 'N/A'}
          if goal.distance
            p.card-text Distance: #{goal.distance} km
          if goal.time
            p.card-text Time: #{goal.time} minutes
          if goal.deadline
            p.card-text Deadline: #{goal.deadline.toDateString()}
          if goal.met
            p.text-success #{goal.message}
          else
            p.text-warning #{goal.message}
